@using InteriorPlatform.Common
@{
    this.ViewData["Title"] = "Дизайн Фаб";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли, <i class="fa fa-industry" aria-hidden="true"></i> @GlobalConstants.SystemName</h1>
</div>

<!-- Random Projects -->
<div class="main main-raised m-5">
    <div class="container-fluid section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Нашите топ проекти</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-plain card-blog" style="border: none">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="assets/img/examples/card-blog4.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog4.jpg&quot;); opacity: 1;"></div>
                                </div>

                                <div class="card-content">
                                    <h6 class="category text-info">Enterprise</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-plain card-blog" style="border: none">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="assets/img/examples/blog5.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/blog5.jpg&quot;); opacity: 1;"></div>
                                </div>
                                <div class="card-content">
                                    <h6 class="category text-success">
                                        Startups
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Lyft launching cross-platform service this week</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-plain card-blog" style="border: none">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="assets/img/examples/blog7.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/blog7.jpg&quot;); opacity: 1;"></div>
                                </div>

                                <div class="card-content">
                                    <h6 class="category text-danger">
                                        <i class="material-icons">trending_up</i> Enterprise
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">6 insights into the French Fashion landscape</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Random Designers -->
    <div class="container-fluid section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Нашите топ дизайнери</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/marc.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Alec Thompson</h4>
                            <h6 class="category text-muted">CEO / Co-Founder</h6>

                            <p class="card-description">
                                And I love you like Kanye loves Kanye. We need to restart the human foundation.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/kendall.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Tania Andrew</h4>
                            <h6 class="category text-muted">Designer</h6>

                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/christian.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Christian Mike</h4>
                            <h6 class="category text-muted">Web Developer</h6>

                            <p class="card-description">
                                I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/avatar.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Rebecca Stormvile</h4>
                            <h6 class="category text-muted">Web Developer</h6>

                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONIALS -->
    <div class="container-fluid section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="title">Нашите потребители</h2>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-testimonial card-plain" style="border: none">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/card-profile1-square.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Димитър Стоянов</h4>
                            <h6 class="category text-muted">Software Architect</h6>
                            <h5 class="card-description">
                                "Тук намерих достатъчно проекти и дизайнери, с които се свързах и разговарях относно моят апартамент. Намерих професионално отношение и бърз отговор на всеки от моите въпроси"
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-testimonial card-plain" style="border: none">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/card-profile4-square.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Яна Караманджукова</h4>
                            <h6 class="category text-muted">PixelPool</h6>
                            <h5 class="card-description">
                                "Дълго време търсех място, където мога да споделя проектите си и да споделя идеите си с хора, с които имаме общи интереси."
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-testimonial card-plain" style="border: none">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/card-profile6-square.jpg">
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Теодор Янков</h4>
                            <h6 class="category text-muted">Design Consult</h6>
                            <h5 class="card-description">
                                "Като собственик на малък бизнес в сферата на интериорния бизнес, тук намерих място, където научавам нови неща свързани в нашата област."
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GET IN TOUCH -->
    <div class="contactus-1 section-image m-0" style="background-image: url('assets/img/examples/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">Свържи се с НАС</h2>
                    <h5 class="description">Ако се нуждаеш от повече информация?</h5>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Посети ни в офис</h4>
                            <p>
                                Бул. Александър Стамболийски, nr. 8,<br>
                                1000 София,<br>
                                България
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">... или просто се обади</h4>
                            <p>
                                Мартин Янков<br>
                                +359 886 188 093<br>
                                Понеделник - Петък, 8:00-22:00
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="card card-contact">
                        <form role="form" id="contact-form" method="post">
                            <div class="header header-raised header-primary text-center">
                                <h4 class="card-title">Contact Us</h4>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">First name</label>
                                            <input type="text" name="name" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Last name</label>
                                            <input type="text" name="name" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Email address</label>
                                    <input type="email" name="email" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Your message</label>
                                    <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                    <span class="material-input"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
                                                I'm not a robot
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>