@model InteriorPlatform.Web.ViewModels.Project.EditProjectInputModel
@{
    this.ViewData["Title"] = "Редактирай проект";
    var styleItems = this.Model.StylesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<div class="container">
    <h3 class="card-title">Редактирай проект:</h3>
    <hr />
    <div class="row">
        <form method="post" class="form" enctype="multipart/form-data">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Име на проекта</label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsRealized" class="form-label">Етап на проекта:</label>
                    <div class="radio">
                        <label>
                            <input asp-for="IsRealized" type="radio" value="true" name="IsRealized">
                            Реализиран проект
                        </label>
                        <label>
                            <input asp-for="IsRealized" type="radio" value="false" name="IsRealized">
                            3Д Концептуален Проект
                        </label>
                    </div>
                    <span asp-validation-for="IsRealized" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsPublic" class="form-label">Статус на проекта:</label>
                    <div class="radio">
                        <label>
                            <input asp-for="IsPublic" type="radio" name="IsPublic" value="true">
                            Публичен
                        </label>
                        <label>
                            <input asp-for="IsPublic" type="radio" name="IsPublic" value="false">
                            Скрит
                        </label>
                    </div>
                    <span asp-validation-for="IsPublic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Описание:</label>
                    <textarea asp-for="Description"
                              class="form-control"
                              placeholder="моля добавете кратък текст"
                              rows="7"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Styles" class="form-label">Стилове</label>
                    <select asp-for="Styles" asp-items="styleItems" class="selectpicker" data-style="select-with-transition" multiple="" title="Избери стил" data-size="7" tabindex="-98"></select>
                    <span asp-validation-for="Styles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="form-label">Категория</label>
                    <select asp-for="CategoryId" asp-items="categoryItems" class="selectpicker" data-style="select-with-transition" title="Избери категория" data-size="7" tabindex="-98"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <div class="fileinput fileinput-new justify-content-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                            <img src="~/assets/img/image_placeholder.jpg" alt="Images">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        <div>
                            <label asp-for="Images">Снимки</label>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Добави снимка</span>
                                <span class="fileinput-exists">Смени</span>
                                <input asp-for="Images" type="file" name="Images" multiple />
                            </span>
                            <span asp-validation-for="Images" class="text-danger"></span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> Премахни
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Редактирай</button>
                </div>
            </div>
        </form>

        <h3>Инструкции:</h3>
        <hr />
        <p class="card-description">Позицията на снимките се променят посредством влачене (drag and drop)</p>
        <p class="card-description">Дължината на снимката не трябва да надвишава 1920px</p>
        <p class="card-description">Не качвайте повече от 10 снимки наведнъж</p>
        <p class="card-description">Размерът на снимката не трябва да надвишава 3 MB</p>
    </div>
</div>


