@model InteriorPlatform.Web.ViewModels.Contacts.ContactUsInputModel

@{
    this.ViewData["Title"] = "Контакти";
}

<div id="map" style="width: 100%; height: 30vh" class="big-map">
    <input id="myTomTomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
</div>

<!-- GET IN TOUCH -->
<div class="main main-raised m-0">
    <div class="contactus-1 section-image" style="background-image: url('./assets/img/examples/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">Потърси ни</h2>
                    <h5 class="description">Ако се нуждаеш от повече информация?</h5>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Посети ни в офис</h4>
                            <p>
                                Бул. Александър Стамболийски, nr. 8,<br>
                                1000 София,<br>
                                България
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">... или просто се обади</h4>
                            <p>
                                Мартин Янков<br>
                                +359 886 188 093<br>
                                Понеделник - Петък, 8:00-22:00
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="card card-contact">
                        <!-- FORM EMAIL SENDER -->
                        <form role="form" id="contact-form" method="post" asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="header header-raised header-primary text-center">
                                <h4 class="card-title">Контакт</h4>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label asp-for="FirstName" class="control-label">Име</label>
                                            <input asp-for="FirstName" type="text" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label asp-for="LastName" class="control-label">Фамилия</label>
                                            <input asp-for="LastName" type="text" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label asp-for="Email" class="control-label">Имейл</label>
                                    <input asp-for="Email" type="email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label asp-for="Subject" class="control-label">Тема</label>
                                    <input asp-for="Subject" type="text" class="form-control">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label asp-for="Message" class="control-label">Твоето съобщение</label>
                                    <textarea asp-for="Message" class="form-control" id="message" rows="6"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"></span>
                                                Потвърждавам
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right">Изпрати съобщение</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        let myTomTomKey = $('#myTomTomKey').val();

        let center = [23.32218, 42.69786];
        const map = tt.map({
            key: myTomTomKey,
            container: "map",
            center: center,
            zoom: 10,
        });

        map.on("load", () => {
            new tt.Marker().setLngLat(center).addTo(map)
        });
    </script>
}